{{> common/auto_generated_py}}

from libcpp.memory cimport shared_ptr

cimport {{#program:py3Namespaces}}{{value}}.{{/program:py3Namespaces}}{{program:name}}.types as _fbthrift_ctypes


{{#program:filtered_structs}}
cdef shared_ptr[_fbthrift_ctypes.c{{struct:name}}] {{struct:name}}_convert_to_cpp(object inst) except*
cdef object {{struct:name}}_from_cpp(const shared_ptr[_fbthrift_ctypes.c{{struct:name}}]& c_struct)

{{/program:filtered_structs}}
