{{#program:auto_migrate?}}
{{> common/auto_generated_py}}
{{#program:no_auto_migrate?}}
from {{#program:py3Namespaces}}{{value}}.{{/program:py3Namespaces}}{{program:name}}.py3_types cimport *
{{/program:no_auto_migrate?}}
{{^program:no_auto_migrate?}}
{{> types/cimport_extern }}

{{#program:cppIncludes}}
cdef extern from "{{.}}":
  pass
{{/program:cppIncludes}}{{!
}}{{#program:customTemplates}}
{{> types/custom_template}}
{{/program:customTemplates}}{{!
}}{{#program:customTypes}}
{{> types/custom_type}}
{{/program:customTypes}}

{{> types/enum_extern }}
{{> types/struct_extern }}
{{> types/constant_extern }}

{{/program:no_auto_migrate?}}
{{/program:auto_migrate?}}
{{^program:auto_migrate?}}
{{> py3_types.pxd }}
{{/program:auto_migrate?}}
