{{!

  Copyright (c) Meta Platforms, Inc. and its affiliates.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

  ====
  If we ever add a type here which may not have a Send or Sync impl, the
  unsafe impls in structimpl.mustache need to be revisited.
  ====
}}{{#type:numeric_or_void?}}{{!
    }}{{#type:rust}}::{{type:rust}}{{/type:rust}}{{!
    }}{{^type:rust}}{{!
        }}{{#type:void?}}(){{/type:void?}}{{!
        }}{{#type:bool?}}::std::primitive::bool{{/type:bool?}}{{!
        }}{{#type:byte?}}::std::primitive::i8{{/type:byte?}}{{!
        }}{{#type:i16?}}::std::primitive::i16{{/type:i16?}}{{!
        }}{{#type:i32?}}::std::primitive::i32{{/type:i32?}}{{!
        }}{{#type:i64?}}::std::primitive::i64{{/type:i64?}}{{!
        }}{{#type:double?}}::std::primitive::f64{{/type:double?}}{{!
        }}{{#type:float?}}::std::primitive::f32{{/type:float?}}{{!
    }}{{/type:rust}}{{!
}}{{/type:numeric_or_void?}}{{!
}}{{#type:string?}}::std::string::String{{/type:string?}}{{!
}}{{#type:binary?}}{{!
    }}{{#type:rust}}::{{type:rust}}{{/type:rust}}{{!
    }}{{^type:rust}}::std::vec::Vec<::std::primitive::u8>{{/type:rust}}{{!
}}{{/type:binary?}}{{!
}}{{#type:struct}}{{!
    }}{{#struct:has_adapter?}}{{!
        }}{{struct:package}}::unadapted::{{struct:rust_name}}{{!
    }}{{/struct:has_adapter?}}{{!
    }}{{^struct:has_adapter?}}{{!
        }}{{struct:package}}::{{struct:rust_name}}{{!
    }}{{/struct:has_adapter?}}{{!
}}{{/type:struct}}{{!
}}{{#type:enum}}{{!
    }}{{enum:package}}::{{enum:rust_name}}{{!
}}{{/type:enum}}{{!
}}{{#type:list?}}{{!
    }}::std::vec::Vec<{{#type:list_elem_type}}{{>lib/type}}{{/type:list_elem_type}}>{{!
}}{{/type:list?}}{{!
}}{{#type:set?}}{{!
    }}{{#type:rust}}::{{type:rust}}{{/type:rust}}{{!
    }}{{^type:rust}}::std::collections::BTreeSet{{/type:rust}}{{!
    }}<{{!
        }}{{#type:set_elem_type}}{{!
        }}{{#type:floating_point?}}::fbthrift::export::OrderedFloat<{{>lib/type}}>{{/type:floating_point?}}{{!
        }}{{^type:floating_point?}}{{>lib/type}}{{/type:floating_point?}}{{!
        }}{{/type:set_elem_type}}{{!
    }}>{{!
}}{{/type:set?}}{{!
}}{{#type:map?}}{{!
    }}{{#type:rust}}::{{type:rust}}{{/type:rust}}{{!
    }}{{^type:rust}}::std::collections::BTreeMap{{/type:rust}}{{!
    }}<{{!
        }}{{#type:key_type}}{{!
        }}{{#type:floating_point?}}::fbthrift::export::OrderedFloat<{{>lib/type}}>{{/type:floating_point?}}{{!
        }}{{^type:floating_point?}}{{>lib/type}}{{/type:floating_point?}}{{!
        }}{{/type:key_type}}, {{!
        }}{{#type:value_type}}{{>lib/type}}{{/type:value_type}}{{!
    }}>{{!
}}{{/type:map?}}{{!
}}
