{{#field:type}}{{!
}}{{#type:numeric_or_void?}}True{{/type:numeric_or_void?}}{{!
}}{{#type:enum?}}False{{/type:enum?}}{{!
}}{{#type:binary?}}True{{/type:binary?}}{{!
}}{{#type:iobuf?}}{{^type:binary?}}True{{/type:binary?}}{{/type:iobuf?}}{{!
}}{{#type:string?}}False{{/type:string?}}{{!
}}{{#type:struct?}}False{{/type:struct?}}{{!
}}{{#type:list?}}False{{/type:list?}}{{!
}}{{#type:set?}}False{{/type:set?}}{{!
}}{{#type:map?}}False{{/type:map?}}{{!
}}{{#type:void?}}False{{/type:void?}}{{!
}}{{/field:type}}{{^field:type}}False{{/field:type}}
